aura/n8n_workflows/01-alert-created-telegram.json
{
  "name": "01 - Alert Created Webhook (Telegram)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alert-created",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1080,
        180
      ],
      "id": "50f16cb7-3ef0-4d6e-a147-be9bac739b8e",
      "name": "Webhook",
      "webhookId": "c560f6b8-6d36-4f2b-9be8-8301fca6aa1e"
    },
    {
      "parameters": {
        "jsCode": "const apiKeyRequired = !!$env.N8N_WEBHOOK_API_KEY;\nconst incomingKey = ($node['Webhook'].json.headers?.['x-api-key'] || $node['Webhook'].json.headers?.['X-API-KEY'] || '').toString();\nconst ok = !apiKeyRequired || incomingKey === $env.N8N_WEBHOOK_API_KEY;\nreturn [{ json: { authorized: ok } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        180
      ],
      "id": "4da52736-b501-4c10-a670-f1f5ec7d26fb",
      "name": "Validate API Key (optional)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "be5d18be-a9f6-46b2-a31d-64e2276734c4",
              "leftValue": "={{$json.authorized === true ? 'true' : 'false'}}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -648,
        180
      ],
      "id": "11f24f49-0ad4-4990-986a-1d86f31394c3",
      "name": "Authorized?"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ok: false, error: 'unauthorized' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        360
      ],
      "id": "a3522f5f-5f3a-4fd2-9ec1-f4675b338e20",
      "name": "Build Unauthorized Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -216,
        360
      ],
      "id": "93350cc7-7437-4f04-a919-aab09f34ca2c",
      "name": "Respond Unauthorized"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "nkhXq74KYsn6UFMc",
          "mode": "list",
          "cachedResultName": "Alerts",
          "cachedResultUrl": "/projects/jSrLzU2glHoPk3fZ/datatables/nkhXq74KYsn6UFMc"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "alertId",
              "keyValue": "=={{ $node[\"Webhook\"].json.body.alertId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -432,
        132
      ],
      "id": "db3bfeb7-2213-4d64-a95e-c8dd66cbf035",
      "name": "Get existing alert",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = $items('Get existing alert');\nconst exists = items.length > 0 && (items[0].json?.id || items[0].json?.rowId);\nconst row = exists ? items[0].json : null;\nconst body = $node['Webhook'].json.body ?? {};\n\nreturn [{ json: { exists: !!exists, existingRow: row, body } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -216,
        132
      ],
      "id": "3d48b690-d4f9-4403-8ad5-2de9a6f847ee",
      "name": "Normalize Lookup"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c9f316d6-f117-46d2-9df0-1fe4fd9fe5f2",
              "leftValue": "={{$json.exists === true ? 'true' : 'false'}}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        132
      ],
      "id": "f0ca0a1a-d552-41f4-8625-5b2b6030f144",
      "name": "Duplicate?"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ok: true,\n    saved: false,\n    duplicate: true,\n    rowId: $json.existingRow?.id ?? $json.existingRow?.rowId ?? null,\n    alertId: $json.body?.alertId ?? null,\n    patientId: $json.body?.patientId ?? null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        216,
        -24
      ],
      "id": "10ef7f7f-f95d-415e-8f13-1506fb6f7f9c",
      "name": "Build Duplicate Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        432,
        -24
      ],
      "id": "db1d26af-7f21-4378-ab64-af0f64d7d47e",
      "name": "Respond (Duplicate)"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "nkhXq74KYsn6UFMc",
          "mode": "list",
          "cachedResultName": "Alerts",
          "cachedResultUrl": "/projects/jSrLzU2glHoPk3fZ/datatables/nkhXq74KYsn6UFMc"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "alertId": "=={{ $node[\"Normalize Lookup\"].json.body.alertId }}",
            "patientId": "=={{ $node[\"Normalize Lookup\"].json.body.patientId }}",
            "risk": "=={{ $node[\"Normalize Lookup\"].json.body.risk }}",
            "type": "=={{ $node[\"Normalize Lookup\"].json.body.type }}",
            "timestamp": "=={{ $node[\"Normalize Lookup\"].json.body.timestamp }}",
            "reason": "=={{ Array.isArray($node[\"Normalize Lookup\"].json.body.reason) ? $node[\"Normalize Lookup\"].json.body.reason.join(\", \") : ($node[\"Normalize Lookup\"].json.body.reason ?? \"\") }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "alertId",
              "displayName": "alertId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "patientId",
              "displayName": "patientId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "risk",
              "displayName": "risk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        216,
        292
      ],
      "id": "9d39f2c1-713d-4d9b-a60c-70503f11f9b8",
      "name": "Insert row"
    },
    {
      "parameters": {
        "jsCode": "const body = $('Normalize Lookup').first().json.body ?? {};\nconst inserted = $('Insert row').first().json ?? {};\nconst reasonText = Array.isArray(body.reason) ? body.reason.join(', ') : (body.reason ?? 'N/A');\nconst alertId = body.alertId ?? 'N/A';\nconst text = `🚨 Aura Alert\\npatient=${body.patientId ?? 'N/A'}\\nalert=${alertId}\\nrisk=${body.risk ?? 'high'}\\nreason=${reasonText}\\ntime=${body.timestamp ?? new Date().toISOString()}\\n\\nCommands:\\n/open\\n/ack ${alertId}\\n/resolve ${alertId}`;\n\nreturn [{\n  json: {\n    body,\n    rowId: inserted.id ?? inserted.rowId ?? inserted._id ?? null,\n    text\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        292
      ],
      "id": "e2f7fd52-bc36-4f86-9898-f8ed374782da",
      "name": "Build Telegram Message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8fc0cfdb-ef12-49bd-8f1e-6cbb2037f24e",
              "leftValue": "={{ !!$env.TELEGRAM_CLINICIAN_CHAT_ID ? 'true' : 'false' }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        648,
        292
      ],
      "id": "8419f5f4-bd65-45be-8f02-6f61da3d0771",
      "name": "Telegram configured?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { chat_id: $env.TELEGRAM_CLINICIAN_CHAT_ID, text: $json.text, disable_web_page_preview: true } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        208
      ],
      "id": "2c4459e9-ae32-4690-809d-77b6ca5d4517",
      "name": "Send Alert",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json ?? {};\nreturn [{ json: { telegramSent: !result.error, telegramSkipped: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        208
      ],
      "id": "81909169-8f46-43e0-b043-e7f992ea0326",
      "name": "Mark Telegram Result"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { telegramSent: false, telegramSkipped: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        392
      ],
      "id": "1c3d275a-62bc-47d2-83bc-53bd6a96c37d",
      "name": "Mark Telegram Skipped"
    },
    {
      "parameters": {
        "jsCode": "const inserted = $('Insert row').first().json ?? {};\nconst body = $('Normalize Lookup').first().json.body ?? {};\nconst status = $input.first().json ?? {};\n\nreturn [{\n  json: {\n    ok: true,\n    saved: true,\n    duplicate: false,\n    rowId: inserted.id ?? inserted.rowId ?? inserted._id ?? null,\n    alertId: body.alertId ?? null,\n    patientId: body.patientId ?? null,\n    telegramSent: !!status.telegramSent,\n    telegramSkipped: !!status.telegramSkipped\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        292
      ],
      "id": "6c6f5305-fcb8-4b11-bdfd-ece1980f28d9",
      "name": "Build Success Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1512,
        292
      ],
      "id": "f145d1aa-d922-445f-970e-a8f334ea2626",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate API Key (optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate API Key (optional)": {
      "main": [
        [
          {
            "node": "Authorized?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authorized?": {
      "main": [
        [
          {
            "node": "Get existing alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Unauthorized Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Unauthorized Response": {
      "main": [
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get existing alert": {
      "main": [
        [
          {
            "node": "Normalize Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Lookup": {
      "main": [
        [
          {
            "node": "Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplicate?": {
      "main": [
        [
          {
            "node": "Build Duplicate Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Duplicate Response": {
      "main": [
        [
          {
            "node": "Respond (Duplicate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Build Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Telegram Message": {
      "main": [
        [
          {
            "node": "Telegram configured?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram configured?": {
      "main": [
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Telegram Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Alert": {
      "main": [
        [
          {
            "node": "Mark Telegram Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Telegram Result": {
      "main": [
        [
          {
            "node": "Build Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Telegram Skipped": {
      "main": [
        [
          {
            "node": "Build Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Success Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "tags": []
}
