aura/n8n_workflows/02-list-alerts.json
{
  "name": "02 - List Alerts Proxy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "alerts",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -480,
        160
      ],
      "id": "ba5ded28-aee9-4da4-b35f-0b9007153559",
      "name": "Webhook",
      "webhookId": "362f4f8d-9510-46ff-9ecb-e0f0fcb9adf9"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ ($env.AURA_API_BASE || \"http://host.docker.internal:3000\") + \"/clinician/alerts?status=\" + ($json.query?.status || \"open\") }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ $env.AURA_API_KEY ? { \"x-api-key\": $env.AURA_API_KEY } : {} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -224,
        160
      ],
      "id": "a24e5fc8-4a8d-4d2e-ae79-9be3a8044f5f",
      "name": "HTTP Request",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json ?? {};\n\nconst likelyFailure =\n  !!payload.error ||\n  payload?.ok === false ||\n  (typeof payload.statusCode === 'number' && payload.statusCode >= 400);\n\nif (likelyFailure) {\n  const detail =\n    (typeof payload.error === 'string' && payload.error) ||\n    (typeof payload.message === 'string' && payload.message) ||\n    (payload.error?.message) ||\n    (payload.description) ||\n    JSON.stringify(payload).slice(0, 500);\n\n  return [{\n    json: {\n      ok: false,\n      error: 'backend_unreachable',\n      detail\n    }\n  }];\n}\n\nif (payload && typeof payload === 'object' && !Array.isArray(payload)) {\n  if (Object.prototype.hasOwnProperty.call(payload, 'ok')) {\n    return [{ json: payload }];\n  }\n\n  return [{\n    json: {\n      ok: true,\n      ...payload\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ok: true,\n    data: payload\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        160
      ],
      "id": "568242c9-4d22-4044-b9f5-53740317f95d",
      "name": "Normalize Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        288,
        160
      ],
      "id": "09f3fb31-1dbb-4b56-a8d5-68f9a2e4597f",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "tags": []
}
