aura/n8n_workflows/05-error-to-telegram.json
{
  "name": "05 - Error Trigger to Telegram",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        200
      ],
      "id": "8d31565a-8687-42f6-b268-a8fbe0e0f3c8",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json ?? {};\nconst workflowName = data.workflow?.name ?? data.execution?.workflowData?.name ?? 'Unknown workflow';\nconst nodeName = data.node?.name ?? data.execution?.lastNodeExecuted ?? 'Unknown node';\nconst errorMessage = data.error?.message ?? data.execution?.error?.message ?? data.message ?? 'Unknown error';\nconst executionId = data.execution?.id ?? data.executionId ?? 'N/A';\nconst time = data.execution?.startedAt ?? data.execution?.stoppedAt ?? new Date().toISOString();\n\nconst base = $env.N8N_EDITOR_BASE_URL ? String($env.N8N_EDITOR_BASE_URL).replace(/\\/$/, '') : '';\nconst execLink = base && executionId !== 'N/A' ? `${base}/executions/${executionId}` : '';\n\nconst message = [\n  '⚠️ Aura n8n Error',\n  `workflow: ${workflowName}`,\n  `node: ${nodeName}`,\n  `error: ${errorMessage}`,\n  `executionId: ${executionId}`,\n  `time: ${time}`,\n  execLink ? `link: ${execLink}` : null\n].filter(Boolean).join('\\n');\n\nreturn [{\n  json: {\n    message,\n    shouldSend: !!$env.TELEGRAM_DEV_CHAT_ID\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        200
      ],
      "id": "31b81088-c35d-44d5-84c5-c16cf8cc9c8d",
      "name": "Format Error Message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d193954f-9224-4b32-867d-f5af552f84e2",
              "leftValue": "={{ !!$env.TELEGRAM_DEV_CHAT_ID ? 'true' : 'false' }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -80,
        200
      ],
      "id": "611cd453-87a6-4d7f-a9d6-e5089af6dbf1",
      "name": "Telegram configured?"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{$env.TELEGRAM_DEV_CHAT_ID}}",
        "text": "={{$json.message}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        176,
        120
      ],
      "id": "7ca345f5-bf8d-4b88-a562-c4e3612ca605",
      "name": "Send Telegram",
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Format Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Message": {
      "main": [
        [
          {
            "node": "Telegram configured?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram configured?": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "tags": []
}
