aura/n8n_workflows/07-daily-digest.json
{
  "name": "07 - Daily Open Alerts Digest Telegram",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyDay",
              "hour": 9,
              "minute": 0
            }
          ]
        }
      },
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -520,
        200
      ],
      "id": "93c22067-18e3-4d0a-be4c-44fe71425dfd",
      "name": "Cron"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ ($env.AURA_API_BASE || 'http://host.docker.internal:3000') + '/clinician/alerts?status=open' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -264,
        200
      ],
      "id": "89a1fef3-723f-4846-b96f-b2586be1865e",
      "name": "HTTP Request",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json ?? {};\n\nconst backendFailed =\n  !!payload.error ||\n  payload?.ok === false ||\n  (typeof payload.statusCode === 'number' && payload.statusCode >= 400);\n\nif (backendFailed) {\n  return [{\n    json: {\n      message: '⚠️ Digest failed: backend unreachable\\nReply /open to see again'\n    }\n  }];\n}\n\nconst alerts = Array.isArray(payload.alerts) ? payload.alerts : [];\n\nif (alerts.length === 0) {\n  return [{\n    json: {\n      message: '✅ No open alerts today.\\nReply /open to see again'\n    }\n  }];\n}\n\nconst lines = alerts.slice(0, 10).map((alert) => {\n  const id = alert.alertId ?? alert._id ?? 'N/A';\n  const patient = alert.patientId ?? 'N/A';\n  const reason = alert.reason ?? 'N/A';\n  return `- ${id} | patient=${patient} | reason=${reason}`;\n});\n\nconst message = [\n  `🚨 Aura Daily Digest: ${alerts.length} open alerts`,\n  ...lines,\n  '',\n  'Reply /open to see again'\n].join('\\n');\n\nreturn [{ json: { message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8,
        200
      ],
      "id": "80f31ebf-4348-4f83-b9ec-6cc906f62bfd",
      "name": "Build Digest"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b3cf6023-ff58-4e19-8f4d-34c26787f3d6",
              "leftValue": "={{ !!$env.TELEGRAM_CLINICIAN_CHAT_ID ? 'true' : 'false' }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        248,
        200
      ],
      "id": "204d89ef-9f73-4129-a929-8661ef7ccae7",
      "name": "Telegram configured?"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{$env.TELEGRAM_CLINICIAN_CHAT_ID}}",
        "text": "={{$json.message}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        504,
        120
      ],
      "id": "7e5e6773-c26f-41a9-b25f-50f3e4431eb7",
      "name": "Send Digest",
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Build Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Digest": {
      "main": [
        [
          {
            "node": "Telegram configured?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram configured?": {
      "main": [
        [
          {
            "node": "Send Digest",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "tags": []
}
