aura/n8n_workflows/11-telegram-ack-resolve.json
{
  "name": "11 - Telegram Commands Ack Resolve",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -920,
        280
      ],
      "id": "a61ed491-8401-43a4-af50-cd2cf8ab2662",
      "name": "Telegram Trigger"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json ?? {};\nconst message = item.message ?? item.body?.message ?? item.edited_message ?? item.body?.edited_message ?? {};\nconst text = String(message.text ?? '').trim();\nconst chatId = message.chat?.id != null ? String(message.chat.id) : (item.chatId != null ? String(item.chatId) : '');\n\nconst requiredChat = ($env.TELEGRAM_CLINICIAN_CHAT_ID ?? '').toString().trim();\nconst allowed = !requiredChat || chatId === requiredChat;\n\nlet cmd = 'help';\nlet alertId = '';\n\nif (/^\\/open\\b/i.test(text)) {\n  cmd = 'open';\n} else {\n  const ackMatch = text.match(/^\\/ack\\s+([A-Za-z0-9_-]+)/i);\n  const resolveMatch = text.match(/^\\/resolve\\s+([A-Za-z0-9_-]+)/i);\n\n  if (ackMatch) {\n    cmd = 'ack';\n    alertId = ackMatch[1];\n  } else if (resolveMatch) {\n    cmd = 'resolve';\n    alertId = resolveMatch[1];\n  }\n}\n\nreturn [{\n  json: {\n    cmd,\n    alertId,\n    chatId,\n    allowed\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        280
      ],
      "id": "d87b2ad3-7fba-4d59-98c0-d6a6f7a2c2d6",
      "name": "Parse Command"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "98322686-f06b-4f19-b0fa-9bcf4ef8fa14",
              "leftValue": "={{$json.allowed === true ? 'true' : 'false'}}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -456,
        280
      ],
      "id": "00729b4d-eb2e-4092-86e3-9ac3e0f39344",
      "name": "Allowed?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "83fbbf44-6b85-49f3-ba74-6be2b7f0f58e",
              "leftValue": "={{$json.cmd}}",
              "rightValue": "open",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -232,
        280
      ],
      "id": "1d109758-2f0f-40cd-bf7b-a27de4768f5c",
      "name": "Is Open?"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ ($env.AURA_API_BASE || 'http://host.docker.internal:3000') + '/clinician/alerts?status=open' }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ $env.AURA_API_KEY ? { \"x-api-key\": $env.AURA_API_KEY } : {} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -8,
        152
      ],
      "id": "59dbf050-c6c6-43b7-a306-c9cc8e8f3080",
      "name": "HTTP Open Alerts",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parse Command').first().json ?? {};\nconst data = $input.first().json ?? {};\n\nlet message = '';\nconst failed = !!data.error || data.ok === false || (typeof data.statusCode === 'number' && data.statusCode >= 400);\n\nif (failed) {\n  message = '⚠️ Backend unreachable.';\n} else {\n  const alerts = Array.isArray(data.alerts) ? data.alerts : [];\n  if (alerts.length === 0) {\n    message = '✅ No open alerts.';\n  } else {\n    const lines = alerts.slice(0, 10).map((a) => {\n      const id = a.alertId ?? a._id ?? 'N/A';\n      const p = a.patientId ?? 'N/A';\n      const r = a.reason ?? 'N/A';\n      return `- ${id} p=${p} r=${r}`;\n    });\n    message = `🚨 Open alerts: ${alerts.length}\\n${lines.join('\\n')}`;\n  }\n}\n\nreturn [{ json: { chatId: parsed.chatId, message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        216,
        152
      ],
      "id": "5563788c-fe0d-4fd5-8ae8-eb5d03db5f99",
      "name": "Build Open Message"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{$json.chatId}}",
        "text": "={{$json.message}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        440,
        152
      ],
      "id": "907d8c37-a877-4bc1-a52d-49cfca129f97",
      "name": "Send Open Message",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dd8b6f2a-10e4-4f8d-a375-932f1f0d3bb4",
              "leftValue": "={{$json.cmd}}",
              "rightValue": "ack",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -8,
        408
      ],
      "id": "36cb20aa-e281-4819-ba72-874d3809f470",
      "name": "Is Ack?"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ ($env.AURA_API_BASE || 'http://host.docker.internal:3000') + '/clinician/alerts/' + $json.alertId }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ $env.AURA_API_KEY ? { \"x-api-key\": $env.AURA_API_KEY } : {} }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { status: 'acknowledged' } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        216,
        328
      ],
      "id": "444567d8-cbca-4297-b6d9-626b5ca3e5b7",
      "name": "HTTP Ack Alert",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parse Command').first().json ?? {};\nconst result = $input.first().json ?? {};\n\nlet message = '';\nif (!parsed.alertId) {\n  message = 'Usage: /ack <alertId>';\n} else {\n  const failed = !!result.error || result.ok === false || (typeof result.statusCode === 'number' && result.statusCode >= 400);\n  if (failed) {\n    const detail = result.error ?? result.message ?? 'backend unreachable';\n    message = `⚠️ Ack failed: ${detail}`;\n  } else {\n    const status = result.alert?.status ?? result.status ?? '';\n    message = status === 'acknowledged' ? `✅ Acknowledged ${parsed.alertId}` : `⚠️ Ack failed for ${parsed.alertId}`;\n  }\n}\n\nreturn [{ json: { chatId: parsed.chatId, message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        328
      ],
      "id": "bb5c9748-830b-4f6a-a86b-b6f47de19e01",
      "name": "Build Ack Message"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{$json.chatId}}",
        "text": "={{$json.message}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        664,
        328
      ],
      "id": "c5ddf83d-e7bc-4212-9159-d5794b8e2205",
      "name": "Send Ack Message",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "75f9c2f8-c48b-4414-b239-c31f15fb4f0f",
              "leftValue": "={{$json.cmd}}",
              "rightValue": "resolve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        216,
        568
      ],
      "id": "282bc06b-a2e6-4a64-9abe-798747d8c241",
      "name": "Is Resolve?"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ ($env.AURA_API_BASE || 'http://host.docker.internal:3000') + '/clinician/alerts/' + $json.alertId }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ $env.AURA_API_KEY ? { \"x-api-key\": $env.AURA_API_KEY } : {} }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { status: 'resolved' } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        488
      ],
      "id": "8f8ed96e-6f12-4c47-8ec3-6534fef6519f",
      "name": "HTTP Resolve Alert",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parse Command').first().json ?? {};\nconst result = $input.first().json ?? {};\n\nlet message = '';\nif (!parsed.alertId) {\n  message = 'Usage: /resolve <alertId>';\n} else {\n  const failed = !!result.error || result.ok === false || (typeof result.statusCode === 'number' && result.statusCode >= 400);\n  if (failed) {\n    const detail = result.error ?? result.message ?? 'backend unreachable';\n    message = `⚠️ Resolve failed: ${detail}`;\n  } else {\n    const status = result.alert?.status ?? result.status ?? '';\n    message = status === 'resolved' ? `✅ Resolved ${parsed.alertId}` : `⚠️ Resolve failed for ${parsed.alertId}`;\n  }\n}\n\nreturn [{ json: { chatId: parsed.chatId, message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        664,
        488
      ],
      "id": "8e3bf747-f342-4356-a699-f455ef4e2f9f",
      "name": "Build Resolve Message"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{$json.chatId}}",
        "text": "={{$json.message}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        888,
        488
      ],
      "id": "c0f0f88d-a086-4c3e-87df-42d081ba7ad1",
      "name": "Send Resolve Message",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parse Command').first().json ?? {};\nconst message = 'Commands:\\n/open\\n/ack <alertId>\\n/resolve <alertId>';\nreturn [{ json: { chatId: parsed.chatId, message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        664
      ],
      "id": "16edbe3b-0b48-46ed-bfdd-32cf75ad3767",
      "name": "Build Help Message"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{$json.chatId}}",
        "text": "={{$json.message}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        664,
        664
      ],
      "id": "37df7fc4-5d58-4d4e-9523-acf95fbbef3e",
      "name": "Send Help Message",
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Command": {
      "main": [
        [
          {
            "node": "Allowed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Allowed?": {
      "main": [
        [
          {
            "node": "Is Open?",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Is Open?": {
      "main": [
        [
          {
            "node": "HTTP Open Alerts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Ack?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Open Alerts": {
      "main": [
        [
          {
            "node": "Build Open Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Open Message": {
      "main": [
        [
          {
            "node": "Send Open Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Ack?": {
      "main": [
        [
          {
            "node": "HTTP Ack Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Resolve?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Ack Alert": {
      "main": [
        [
          {
            "node": "Build Ack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Ack Message": {
      "main": [
        [
          {
            "node": "Send Ack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Resolve?": {
      "main": [
        [
          {
            "node": "HTTP Resolve Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Help Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Resolve Alert": {
      "main": [
        [
          {
            "node": "Build Resolve Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Resolve Message": {
      "main": [
        [
          {
            "node": "Send Resolve Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Help Message": {
      "main": [
        [
          {
            "node": "Send Help Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "tags": []
}
